<style>
    html,
    body {
        height: 100%;
    }
    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
</style>
<form class="form-signin" autocomplete="off">
    <div id="spinner" style="display: none">
        <i class="fa-10x fas fa-spinner fa-spin"></i>
    </div>
    <div id="formContent">
        <h1 class="h3 mb-3 font-weight-normal">{{title}}</h1>
        <p>Enter your email address that you used to register. We'll send you an email with a link to reset your
            password.</p>
        <div class="form-group">
            <label for="inputEmail"
                   class="sr-only">Email address</label>
            <input type="email"
                   id="inputEmail"
                   class="form-control form-control-lg"
                   placeholder="Email address"
                   required
                   autofocus>
        </div>
        <button id="forgotPasswordClickEvt" class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
        <div style="display: none" id="alertDanger" class="alert alert-danger mt-3" role="alert">
            <div id="errorResponse"></div>
        </div>
        <div style="display: none" id="alertSuccess" class="alert alert-success mt-3" role="alert">
            <div id="successfulResponse"></div>
        </div>
    </div>
</form>

<script>
    var forgotPasswordClickEvt = document.getElementById('forgotPasswordClickEvt');
    forgotPasswordClickEvt.addEventListener('click', forgotPasswordClicked);
    function forgotPasswordClicked(event) {
        event.preventDefault();
        var locationHref = window.location.href;
        var arr = locationHref.split("/");
        var url = arr[0] + "//" + arr[2] + '/forgot_password';
        document.getElementById('spinner').style.display = 'block';
        document.getElementById('formContent').style.display = 'none';
        axios.post(url, {
            email: document.getElementById('inputEmail').value
        }).then(function (response) {
            console.log("response!!!!: " + JSON.stringify(response));
            document.getElementById('alertDanger').style.display = 'none';
            document.getElementById('alertSuccess').style.display = 'block';
            document.getElementById('successfulResponse').textContent = JSON.stringify(response.data, null, 2);
        }).catch(function (error) {
            console.log(error.response.data);
            document.getElementById('alertSuccess').style.display = 'none';
            document.getElementById('alertDanger').style.display = 'block';
            document.getElementById('errorResponse').textContent = JSON.stringify(error.response.data, null, 2);
        }).finally(function () {
            document.getElementById('spinner').style.display = 'none';
            document.getElementById('formContent').style.display = 'block';
        });
    }
</script>
