<style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
</style>

<form class="form-signin" autocomplete="off">
    <div id="spinner" style="display: none">
        <i class="fa-10x fas fa-spinner fa-spin"></i>
    </div>
    <div id="formContent">
        <h1 class="h3 mb-3 font-weight-normal">{{title}}</h1>
        <div class="form-group">
            <label for="inputEmail">New password</label>
            <input type="password"
                   id="newPassword"
                   class="form-control form-control-lg"
                   autocomplete="off"
                   autofocus
                   required>
        </div>
        <div class="form-group">
            <label for="inputEmail">Repeat new password</label>
            <input type="password"
                   id="repeatNewPassword"
                   class="form-control form-control-lg"
                   autocomplete="off"
                   required>
        </div>
        <button id="resetPasswordClickEvt" class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
        <div style="display: none" id="alertDanger" class="alert alert-danger mt-3" role="alert">
            <div id="errorResponse"></div>
        </div>
        <div style="display: none" id="alertSuccess" class="alert alert-success mt-3" role="alert">
            <div id="successfulResponse"></div>
        </div>
    </div>
</form>
<script>
    var resetPasswordClickEvt = document.getElementById('resetPasswordClickEvt');
    resetPasswordClickEvt.addEventListener('click', resetPasswordClicked);
    function resetPasswordClicked(event) {
        event.preventDefault();
        var locationHref = window.location.href;
        var arr = locationHref.split("/");
        var url = arr[0] + "//" + arr[2] + '/reset_password';
        document.getElementById('spinner').style.display = 'block';
        document.getElementById('formContent').style.display = 'none';
        axios.post(url, {
            token: "{{token}}",
            newPassword: document.getElementById('newPassword').value,
            confirmPassword: document.getElementById('repeatNewPassword').value
        }).then(function (response) {
            console.log("response!!!!: " + JSON.stringify(response));
            document.getElementById('alertDanger').style.display = 'none';
            document.getElementById('alertSuccess').style.display = 'block';
            document.getElementById('successfulResponse').textContent = JSON.stringify(response.data, null, 2);
        }).catch(function (error) {
            console.log(error.response.data);
            document.getElementById('alertSuccess').style.display = 'none';
            document.getElementById('alertDanger').style.display = 'block';
            document.getElementById('errorResponse').textContent = JSON.stringify(error.response.data, null, 2);
        }).finally(function () {
            document.getElementById('spinner').style.display = 'none';
            document.getElementById('formContent').style.display = 'block';
        });
    }
</script>